%p
  =@user.full_name
  %a{href: "www.frankenkopter.com/testimonial/#{@user.testimonial_token}" } click here
  to be redirected to your testimonial link. Your business and feedback are very important to us!
