<%= content_for :title, 'Photos' %>
<%= render partial: 'shared/nav', locals: { active: 'photos' } %>
<main>
  <header class="my-4">
    <h1 class="text-center text-primary mb-3">FrankenKopter Rotorway Photos</h1>
  </header>
  <div class="container">
    <ul class="row justify-content-around list-unstyled">
      <% @images.each do |img| %>
        <li class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <a href="#">
            <%= image_tag "photos/#{img}", class: 'd-block w-100' %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</main>
