<% content_for :title, 'Reports' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Search</span>
        </h1>
      </header>
      <section class="bg-light p-3">
        <h2 class="h4">Your search rendered <%= pluralize(@record_count, 'result' %>!</h2>
      </section>
    </main>
  </div>
</div>
