%nav#nav.navbar.navbar-expand-lg.navbar-dark
  %ul.navbar-nav
    -if active['home']
      %li.nav-item.active
        = link_to root_path, class: 'nav-link' do
          Home
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'Home', root_path, class: 'nav-link'
    -if active['about']
      %li.nav-item.active
        = link_to about_path, class: 'nav-link' do
          About
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'About', about_path, class: 'nav-link'
    -if active['contact']
      %li.nav-item.active
        = link_to contact_path, class: 'nav-link' do
          Contact
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'Contact', contact_path, class: 'nav-link'
    -if active['accounts']
      %li.nav-item.dropdown.active
        %span.sr-only (current)
        =link_to nil, class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} do
          Accounts
        %ul.dropdown-menu{ aria: {labelledby: 'navbarDropdown'}}
          %li
            =link_to 'Create An Account', new_user_registration_path, class: 'dropdown-item'
          %li.dropdown-divider
          %li
            =link_to 'Sign In', new_user_session_path, class: 'dropdown-item'
    -else
      %li.nav-item.dropdown
        =link_to nil, class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} do
          Accounts
        %ul.dropdown-menu{ aria: {labelledby: 'navbarDropdown'}}
          %li
            =link_to 'Create An Account', new_user_registration_path, class: 'dropdown-item'
          %li.dropdown-divider
          %li
            =link_to 'Sign In', new_user_session_path, class: 'dropdown-item'
