%nav#nav.navbar.navbar-expand-lg.navbar-dark
  %ul.navbar-nav.mr-auto
    -if active['home']
      %li.nav-item.active
        = link_to root_path, class: 'nav-link' do
          Home
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'Home', root_path, class: 'nav-link'
    -if active['about']
      %li.nav-item.active
        = link_to nil, class: 'nav-link' do
          About
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'About', nil, class: 'nav-link'
    -if active['contact']
      %li.nav-item.active
        = link_to nil, class: 'nav-link' do
          Contact
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'Contact', nil, class: 'nav-link'
    -if active['sign in']
      %li.nav-item.active
        = link_to nil, class: 'nav-link' do
          Sign In
          %span.sr-only (current)
    -else
      %li.nav-item
        =link_to 'Sign In', nil, class: 'nav-link'
