-if active['accounts']
  %li.nav-item.dropdown.active
    %span.sr-only (current)
    =link_to nil, class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} do
      Account
    %ul.dropdown-menu{ aria: {labelledby: 'navbarDropdown'} }
      -unless current_user.admin?
        %li
          =link_to 'My Account',  edit_user_registration_path, class: 'dropdown-item'
      %li
        -if current_user.admin?
          =link_to 'Edit My Account', admin_profile_edit_path, class: 'dropdown-item'
      %li.dropdown-divider
      %li
        =link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
-else
  %li.nav-item.dropdown
    %span.sr-only (current)
    =link_to nil, class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} do
      Account
    %ul.dropdown-menu{ aria: {labelledby: 'navbarDropdown'}}
      -unless current_user.admin?
        %li
          =link_to 'My Account',  edit_user_registration_path, class: 'dropdown-item'
      %li
        -if current_user.admin?
          =link_to 'Edit My Account', admin_profile_edit_path, class: 'dropdown-item'
      %li.dropdown-divider
      %li
        =link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
