= render partial: 'shared/nav', locals: { active: 'home'}
= render partial: 'shared/flash_notice'
%div.jumbotron.text-center
  %h1.display-4
    Freakish Performance
  %p.lead
    Performance Packages for RotorWay Helicopters
  %hr.my-4
  %p
    = link_to 'Contact Us', new_email_path, class: 'btn btn-primary btn-md', role: 'button'
