= render partial: 'shared/nav', locals: { active: 'home'}
%main
  %div.jumbotron.text-center
    %h1.display-4
      Freakish Performance
    %p.lead
      Performance Packages for RotorWay Helicopters
    %hr.my-4
    %p
      = link_to 'Contact Us', contact_path, class: 'btn btn-primary btn-md', role: 'button'
      = link_to 'What our customers are saying', testimonials_path, class: 'btn btn-primary'
= render partial: 'shared/footer'
