= render partial: 'shared/nav', locals: { active: '' }
%main
  %section.text-center.min-vh-100
    %h2.h4.token_error
      That token has expired or has been used. If you believe you have reached this
      page in error please
      =link_to 'contact us!', new_email_path
= render partial: 'shared/nav' %>
