//= require actiontext
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
@import 'font-awesome';
@import 'bootstrap';

// Main For Footer
main {
  min-height: 63vh;
}

// links
a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

// heading global
h1 {
  font-size: 36px;
}

// Horizontal Rule
.break {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 15%;
}
// font weights
.bold {
  font-weight: bold;
}

.emphasize {
  font-size: 18px;
  text-decoration: underline;
}

// Sign Out Button
#sign-out-button {
  position: absolute;
  right: 10px;
  top: 8px;
}

#sign-out-button.lowered {
  top: 12px;
}

// flash error global styling
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert {
  margin-bottom: 0;
}

// Navbar global styling
.enlarged {
  height: 60px;
}

.navbar-brand {
  font-family: 'Nosifer', cursive;
}

.navbar-brand span {
  color: #84DF08;
}

#nav {
  background: #0c0c0c;
}

ul.navbar-nav {
  margin: 0 auto;
}

.dropdown-menu.show {
  background: rgb(11, 11, 11);
}

.dropdown-item {
  color: #858585;
  font-size: .9rem;
  text-align: center;
}

.dropdown-divider {
  border-top: 1px solid #858585;
}

.dropdown-item:hover {
  background: inherit;
  color: #fff;
}

// Search Bar global styling
#search-bar {
  background: #000;
}

// Footer
footer {
  background: black;
  width: 100%;
}
footer .generic-anchor {
  font-size: 13px;
  margin-right: 7px;
  color: #868686;
}

footer .flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #868686;
  width: calc(100% - 20px)
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: black;
  padding: 0 20px
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #868686;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}

.footer-social-overlap > a {
  color: #868686;
  font-size: 1.5em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  margin-top: 10px
}

.footer-bottom-section > div:first-child {
  margin-right: auto
}

.footer-bottom-wrapper {
  font-size: 14px;
  color: #868686;
}

.footer-address {
  display: inline;
  font-style: normal
}

// Privacy Policy
#privacy-policy p {
  font-size: 13px;
}

// Trix text editor
#email_message,
#highlight_highlight,
#testimonial_message {
  background: #fff;
  min-height: 200px;
}

.trix-button--icon-code {
  display: none;
}

#email_message.field_with_errors,
#highlight_highlight.field_with_errors,
#testimonial_message.field_with_errors {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Input error fields
.field_with_errors > input {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Token Errors
.token_error {
  background: #fff;
  color: #dc3545;
  padding-top: 10%;
}

.token_error > a {
  color: #dc3545;
  font-weight: bold;
}

// Dl list
dt > label > span {
  color: #6C757D;
  font-size: 14px;
  font-weight: normal;
}

// Users Testimonials
.card-columns .card {
  position: relative;
  transition: .8s opacity, .8s transform;
}

.card-columns:hover .card {
  opacity: 0.3;
  transform: scale(1);
}
.card-columns:hover .card:hover {
  opacity: 1;
  transform: scale(1.05);
}

.testimonial-quote {
  color: #868686;
  font-size: 28px;
  position: absolute;
  top: -10px;
  left: -12px;
  z-index: 1;
}

.testimonial-header .lead,
.email-header .lead {
  font-size: 16px;
}

// Testimonials
#characters_remaining {
  padding-left: 15px;
}

#testimonial_created_by {
  border-radius: 4px;
}

.edit_testimonial select {
  display: block;
  height: 35px;
  margin-top: 8px;
  width: 65px;
}

// Froms
.form-actions > input[type="submit"] {
  margin-right: 10px;
}

// Break points
@media (min-width: 0px) {
  #admin-side-nav {
    display: none;
  }

  #searchBarDropdown::after {
    display: none;
  }

  #search-form {
    display: none;
  }

  .navbar-brand {
    display: inline-block;
    margin: 0 auto;
  }

  .partial-38 {
    border-radius: 4px;
    margin: 30px auto;
    padding: 10px;
    width: 90%;
  }

  .partial-60 {
    margin: 0 auto;
    width: 90%;
  }

  .partial-60 .form-actions input,
  .partial-60 .form-actions button,
  .partial-60 .form-actions a {
    display: block;
    width: 100%;
  }

  #navbarNavAltMarkup {
    text-align: center;
  }

  #navbarDropdown::after {
    display: none;
  }

  .dropdown-menu .dropdown-divider {
    display: none;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #search-dropdown {
    display: none;
  }

  #navbarDropdown::after {
    display: inline-block;
  }

  #search-form {
    display: inline-block;
  }

  .dropdown-menu .dropdown-divider {
    display: block;
  }

  .navbar-brand {
    display: inline-block;
    margin: 0;
  }

  .partial-38 {
    width: 38%;
    margin: 40px auto;
  }

  .partial-60 {
    width: 60%;
  }

  .partial-60 .form-actions input,
  .partial-60 .form-actions button,
  .partial-60 .form-actions a {
    display: inline-block;
    width: 150px;
  }

  .edit_testimonial input[type="submit"] {
    margin-right: 15px;
  }

  .form-actions #password-reset {
    width: auto;
  }
}

@media (min-width: 1200px) {

}
