//= require actiontext
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
$primary: #880A91;

@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:100,700&display=swap');
@import 'font-awesome';
@import 'bootstrap';

button:focus {
  outline: none;
}

// Density Alt landing page
.density-altitude {
  display: none;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 100;
  color: #82DE3C;
}

.density-altitude h3 {
  font-weight: 100;
}

.density-altitude > p:nth-of-type(2), .density-altitude > p:nth-of-type(3)  {
  font-weight: normal;
}

.density-altitude > a {
  color: #82DE3C;
  font-weight: normal;
  text-transform: uppercase;
}
// Avatars
.avatar {
  border-radius: 100px;
}

// Testimonials Images
.thumbnail > img {
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, .4);
}
.thumbnail > img:hover {
  cursor: pointer;
}
// Testimonial Modal
#modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#modal-close i {
  color: #fff;
  font-size: 1.75rem;
}

#testimonials .full-size-image {
  display: none;
}

#lightbox-image {
  position: fixed;
  z-index: 10001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lightbox-image img {
  max-height: 80vh;
  max-width: 100vw;
}

#lightbox-image figcaption{
  color: #fff;
  font-size: 1.5em;
  margin-top: 1rem;
  text-align: center;
}

.backdrop {
  background: rgba(0,0,0,0.7);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

// Landing Page
#highlights h2 a {
  color: #202529;
}

#highlights .carousel-control-prev-icon,
#highlights .carousel-control-next-icon {
  filter: invert(100%);
}

#highlights .carousel-inner dl {
  margin-bottom: 0;
}

#highlights .carousel-inner dl:nth-of-type(2) dd:first-of-type {
  font-size: 18px;
}

#callout {
  background: no-repeat image-url('helicopters.jpg') left center;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

.cta {
  color: #82DE3C;
  text-shadow: 1px 1px 2px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.cta a > h1 {
  color: #82DE3C;
  font-family: 'Nosifer', Helvetica, Arial, sans-serif;
  font-size: 30px;
  transition-property: transform;
  transition-duration: 1s;
}

.cta a > h1:hover {
  transform: scale(1.1);
}

.cta > a > h1 > span {
  font-size: 24px;
}

.cta p {
  display: none;
  font-size: 16px;
}

#callout .cta + a {
  color: #82DE3C;
  bottom: 30px;
  height: 110px;
  width: 56px;
  left: 50%;
  margin-left: -28px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

#callout i {
  font-size: 40px;
  padding-top: 45px;
}

#services ul {
  margin: 0;
  padding: 0;
  width: 95%;
}

.services-card {
  border: 1px solid #cecece;
  border-radius: 2px;
  list-style-type: none;
  margin: 0;
  padding: 15px 10px;
  transition-property: transform;
  transition-duration: 1s;
}

.services-card:hover {
  transform: scale(1.1);
}

.services-card h3 {
  font-size: 22px;
  text-transform: uppercase;
}

.services-card span {
  display: inline-block;
  background: #000;
  border-radius: 25px;
  position: relative;
}

.services-card span {
  font-size: 25px;
  height: 45px;
  margin-bottom: 10px;
  width: 45px;
}

.services-card i {
  background: #000;
  border-radius: 25px;
  color: #fff;
  position: relative;
}

.services-card:first-of-type i {
  top: 2px;
}

.services-card:nth-of-type(2) i {
  top: 3px;
  right: 1px;
}

.services-card:nth-of-type(3) i {
  top: 2px;
  right: 2px;
}

.services-card:nth-of-type(4) i {
  top: 2px;
}

#contact {
  background-color: #000;
  padding-bottom: 2%;
  padding-top: 2%;
}

#contact h2 {
  margin-bottom: 1.25em;
}

#contact h3 {
  margin-bottom: 1em;
}

#partners {
  background: #cecece;
}

#partners a img {
  max-height: 100px;
  width: auto;
}

// Heading ally-line
.ally-lines:before, .ally-lines:after {
  content: '';
  width: 100px;
  height: 1px;
  background: #000;
  margin: 0 .5em .25em .5em;
}

.ally-lines-white:before, .ally-lines-white:after {
  content: '';
  width: 100px;
  height: 1px;
  background: #fff;
  margin: 0 .5em .25em .5em;
}

.services-card {
  margin-bottom: 2em;
}

// links
a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

// heading global
h1 {
  font-size: 36px;
}

// Horizontal Rule
.break {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 15%;
}
// font
.bold {
  font-weight: bold;
}

.emphasize {
  font-size: 18px;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}
// flash error global styling
.alert-error,
.alert-recaptcha_error,
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success, .alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert {
  margin-bottom: 0;
}

// Navbar global styling
.navbar-brand {
  font-family: 'Nosifer', Helvetica, Arial, sans-serif;
}

.navbar-brand span {
  color: #84DF08;
}

#nav, #landing-nav {
  background: #0c0c0c;
}
/*
#landing-nav {
  display: none;
}
*/
.nav-item.active > .nav-link {
  color: #FFF !important;
}

ul.navbar-nav {
  margin: 0 auto;
}

.dropdown-menu.show {
  background: rgb(11, 11, 11);
}

.dropdown-item {
  color: #858585;
  font-size: .9rem;
  text-align: center;
}

.dropdown-divider {
  border-top: 1px solid #858585;
}

.dropdown-item:hover {
  background: inherit;
  color: #fff;
}

// Search Bar global styling
#search-bar {
  background: #000;
}

// Footer
footer {
  background: black;
  width: 100%;
}

footer .generic-anchor {
  font-size: 13px;
  margin-right: 7px;
  color: #868686;
}

footer .flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #868686;
  width: calc(100% - 20px)
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: black;
  padding: 0 20px
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #868686;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}

.footer-social-overlap > a {
  color: #868686;
  font-size: 1.5em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}

.footer-social-overlap > a:last-of-type {
  margin-right: 0;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  margin-top: 10px
}

.footer-bottom-section > div:first-child {
  margin-right: auto
}

.footer-bottom-wrapper {
  font-size: 14px;
  color: #868686;
}

.footer-address {
  display: inline;
  font-style: normal
}

// Privacy Policy
#privacy-policy p {
  font-size: 13px;
}

// Trix text editor
#email_message,
#testimonial_highlight,
#testimonial_message {
  background: #fff;
  min-height: 200px;
}

.trix-button--icon-code {
  display: none;
}

.trix-button--icon-heading-1 {
  display: none;
}

#email_message.field_with_errors,
#highlight_highlight.field_with_errors,
#testimonial_message.field_with_errors {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Input error fields
.field_with_errors > input {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Token Errors
.token_error {
  background: #fff;
  color: #dc3545;
}

.token_error > a {
  color: #dc3545;
  font-weight: bold;
}

p.token_error {
  font-size: 1.25em;
}
// Dl list
dt > label > span {
  color: #6C757D;
  font-size: 14px;
  font-weight: normal;
}

// Users Testimonials
#testimonials .card {
  position: relative;
  transition: .8s opacity, .8s transform;
}

#testimonials:hover .card {
  opacity: 0.3;
  transform: scale(1);
}
#testimonials:hover .card:hover {
  opacity: 1;
  transform: scale(1.05);
}

.testimonial-quote {
  color: #868686;
  font-size: 28px;
  position: absolute;
  top: -10px;
  left: -12px;
  z-index: 1;
}

.testimonial-header .lead,
.email-header .lead {
  font-size: 16px;
}

// Testimonials
#characters_remaining {
  padding-left: 15px;
}

#testimonial_created_by {
  border-radius: 4px;
}

.edit_testimonial select {
  display: block;
  height: 35px;
  margin-top: 8px;
  width: 65px;
}

// Forms
.form-actions > input[type="submit"] {
  margin-right: 10px;
}

// Break points
@media (min-width: 0px) {
  #testimonials .avatar {
    width: 80px;
  }

  #admin-side-nav {
    display: none;
  }

  #searchBarDropdown::after {
    display: none;
  }

  #search-form {
    display: none;
  }

  .navbar-brand {
    display: inline-block;
    margin: 0 auto;
  }

  .partial-38 {
    border-radius: 4px;
    margin: 30px auto;
    padding: 10px;
    width: 90%;
  }

  .partial-60 {
    margin: 0 auto;
    width: 90%;
  }

  .partial-60 .form-actions input,
  .partial-60 .form-actions button,
  .partial-60 .form-actions a {
    display: block;
    width: 100%;
  }

  #navbarNavAltMarkup {
    text-align: center;
  }

  #navbarDropdown::after {
    display: none;
  }

  .dropdown-menu .dropdown-divider {
    display: none;
  }

  .ally-lines:before, .ally-lines:after {
    display: none;
  }

  .ally-lines-white:before, .ally-lines-white:after {
    display: none;
  }

  .ally-lines-white, .ally-lines {
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .avatar {
    max-width: auto;
  }
}

@media (min-width: 768px) {
  #contact a {
    margin-right: 1em;
    margin-left: 1em;
  }
}

@media (min-width: 992px) {
  .ally-lines, .ally-lines-white {
    text-decoration: none;
  }

  .ally-lines:before, .ally-lines:after {
    display: inline-block;
  }

  .ally-lines-white:before, .ally-lines-white:after {
    display: inline-block;
  }

  #landing-page section:nth-of-type(1n+3) {
    margin-top: 5em;
  }

  #callout {
    background: no-repeat image-url('helicopters.jpg') center center fixed;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 100vh;
  }

  .cta a > h1 {
    color: #82DE3C;
    font-family: 'Nosifer', Helvetica, Arial, sans-serif;
    font-size: 36px;
    transition-property: transform;
    transition-duration: 1s;
  }

  .cta a {
    text-decoration: none;
  }

  .cta a > h1:hover {
    transform: scale(1.1);
  }

  .cta > a > h1 > span {
    font-size: 28px;
  }

  .cta p {
    display: none;
    font-size: 20px;
  }

  #callout i {
    font-size: 55px;
    padding-top: 45px;
  }

  #sign-out-btn {
    position: relative;
    bottom: 40px;
  }

  #search-dropdown {
    display: none;
  }

  #navbarDropdown::after {
    display: inline-block;
  }

  #search-form {
    display: inline-block;
  }

  .dropdown-menu .dropdown-divider {
    display: block;
  }

  .navbar-brand {
    display: inline-block;
    margin: 0;
  }

  .partial-38 {
    width: 38%;
    margin: 40px auto;
  }

  .partial-60 {
    width: 60%;
  }

  .partial-60 .form-actions input,
  .partial-60 .form-actions button,
  .partial-60 .form-actions a {
    display: inline-block;
    width: 150px;
  }

  .edit_testimonial input[type="submit"] {
    margin-right: 15px;
  }

  .form-actions #password-reset {
    width: auto;
  }

  // Landing Page Cards
  #services ul {
    align-items: stretch;
    background: #fff;
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  .services-card {
    background: #fff;
    display: block;
    flex: 0 1 auto;
    width: 23%;
  }
}

//modal overlay
.photos {
  position: relative;
}

.overlay {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.image-modal {
  position: fixed;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 101;
}

#modal-close {
  background: transparent;
  border: none;
  color: #82DE3C;
  font-size: 40px;
}

#image {
  display: inline-block;
  width: 100%;
}

@media (max-width: 992px) {
  .image-modal {
    width: 95%;
  }
  #image {
    display: inline-block;
    width: 100%;
  }
}

