//= require actiontext
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
@import 'font-awesome';
@import 'bootstrap';

// links
a:hover {
  text-decoration: none;
}

// heading global
h1 {
  font-size: 36px;
}

// font weights
.bold {
  font-weight: bold;
}

// flash error global styling
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert {
  margin-bottom: 0;
}

// Navbar global styling
#nav {
  background: #0c0c0c;
}

ul.navbar-nav {
  margin: 0 auto;
}

.dropdown-menu.show {
  background: rgb(11, 11, 11);
}

.dropdown-item {
  color: #858585;
  font-size: .9rem;
  text-align: center;
}

.dropdown-divider {
  border-top: 1px solid #858585;
}

.dropdown-item:hover {
  background: inherit;
  color: #fff;
}

// Search Bar global styling
#search-bar {
  background: #000;
}

// Trix text editor
#email_message,
#highlight_highlight,
#testimonial_message {
  background: #fff;
  min-height: 200px;
}

.trix-button--icon-code {
  display: none;
}

#email_message.field_with_errors,
#highlight_highlight.field_with_errors,
#testimonial_message.field_with_errors {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Input error fields
.field_with_errors > input {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(114, 28, 36, .6);
}

// Token Errors
.token_error {
  background: #fff;
  color: #dc3545;
  padding-top: 10%;
}

.token_error > a {
  color: #dc3545;
  font-weight: bold;
}

// Dl list
dt > label > span {
  color: #6C757D;
  font-size: 14px;
  font-weight: normal;
}

// Testimonials
#characters_remaining {
  padding-left: 15px;
}

#testimonial_created_by {
  border-radius: 4px;
}

.edit_testimonial select {
  display: block;
  height: 35px;
  margin-top: 8px;
  width: 65px;
}

// Break points
@media (min-width: 576px) {
  .partial-38 {
    border-radius: 4px;
    margin: 30px auto;
    padding: 10px;
    width: 90%;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .partial-38 {
    width: 38%;
    margin: 40px auto;
  }

  .edit_testimonial input[type="submit"] {
    margin-right: 15px;
  }

  // Forms
  .form-actions > input[type="submit"] {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {

}
